@import 'partials/setup';
@import 'partials/variables';
@import 'partials/header';
@import 'partials/about';
@import 'partials/skills';
@import 'partials/projects';
@import 'partials/footer';


// mixins
@mixin button{
	font-size:18px;
    background-color:$lightpink;
    border:3px solid$white;
    padding:5px 20px;
    cursor:crosshair;
}

//general styles
body {
	font-family:'Poppins', sans-serif;
	font-size:16px;
	margin:0 auto;
}

button{
	@include button
}