.about-section{
	margin:150px 0;
	@media(max-width:590px){
		margin:70px 0;
	}
	.about-wrapper{
		display: flex;
	    flex-direction: row;
	    justify-content: space-evenly;
	    .about-image{
	    	max-width:45%;
	    	padding-right:20px;
	    	border-right:3px solid $lightblue;
	    	img{
	    		max-width:350px;
	    		max-height:350px;
	    		@media(max-width:590px){
	    			max-width:400px;
	    			opacity: 0.8;
	    		}
	    	}
	    	.about-mobile{
	    		display: none;
	    		@media(max-width:590px){
	    			display:block;
	    		}
	    	}
	    	.about-desktop{
	    		@media(max-width:590px){
	    			display: none;
	    		}
	    	}
	    	@media(max-width:590px){
	    		max-width: 100%;
	    		margin:auto;
	    		border-right:none;
	    		padding-right:0;
	    	}
	    }
		.about-text{
			max-width: 50%;
		    display: flex;
		    justify-content: center;
		    align-self: center;
		    border-top: 3px solid $lightpink;
		}
		@media(max-width:590px){
			flex-direction:column;
			.about-text{
				max-width:80%;
				margin: 0 auto;
			}
		}
	}
}