.skills-section{
	margin: 0 auto;
    background-color:$lightpink;
    padding: 60px;
    @media(max-width:590px){
    	padding:20px;
    }
    h2{
    	font-size: 40px;
	    color: $white;
	    text-transform: capitalize;
	    letter-spacing: 1px;
	    margin-bottom: 20px;
	    margin-top: 0;
	    @media(max-width:590px){
	    	text-align: center;
	    }
    }
	.skills-container{
		display: flex;
	    flex-direction: row;
	    justify-content: space-between;
	    align-items: center;
	    overflow-x: auto;
	    flex-wrap:wrap;
		img{
			max-width:50px;
			max-height:100px;
			&.skills-shopify{
				max-width:130px;
			}
			&:hover{
				opacity: 0.6;
			}
			@media(max-width:1024px){
				margin:10px;
			}
		}
		@media(max-width:590px){
			width:70%;
			margin:0 auto;
			justify-content:center;
		}
	}
}